/* COLOR */
.banner-content h1 span,
.home-content h1,
.typer,
.contact-content .address .phone .icon,
.contact-content .address .location .icon,
.contact-content .address .email .icon,
.work-item .caption .inner em,
.work-loadmore a:hover,
.single-project .sidebar .client a:hover,
.single-project .sidebar .what_we_did ul li .fa:hover,
.single-project .sidebar .what_we_did ul li:hover a,
.single-project .sidebar .widget_categories ul li a:hover,
.about-item .icon,
.about-item .fa,
.team-item .team-content h4,
.team-item .team-content .social a:hover,
.plans-item .prices .sup,
.plans-item .prices .price,
.shop-cart .cart-toggle .icon,
.product-item .product-item-body h4 a:hover,
.product-images .product-pager .owl-buttons > div .fa:hover,
.shop-cart .view-shop-cart-block .view-content .item-cart-title a:hover,
.pagination li a:hover,
.blockquote .icon,
.widget ul li:hover a,
.author_post a:hover,
.author_post time,
.share_this a:hover,
.tagcloud a:hover,
.page-share .toggle-share,
.page-share .shares .icon,
#comments .commentlist .comment a:hover,
#comments .commentlist .comment .reply a,
.scroll-top .icon:hover,
.ft-social a:hover .icon,
.post h1 a:hover, .post h2 a:hover,
.r-btn:hover {
    color: #0099E6;
}
.product-detail-content form .form-submit:hover,
.test-slider .owl-controls .owl-pagination .owl-page.active span,
.what-we-do-slider .owl-controls .owl-pagination .owl-page.active span,
.blockquote,
.widget ul li:hover:after,
.page-share .toggle-share:after,
.contact-content .address .phone .icon {
    border-color: #0099E6;
}
.owl-carousel .owl-buttons .fa:hover,
.owl-carousel .owl-buttons > div .fa:hover,
.bx-wrapper .bx-controls-direction .fa:hover,
.open-nav span,
.open-nav:before,
.open-nav:after,
.typer span:after,
.navigation.nav-fullscreen,
.navigation.nav-right .bg-nav,
.navigation.nav-right.nav-anim .navigation-inner,
.navigation.nav-left .navigation-inner,
.navigation.nav-top .navigation-inner,
.navigation.nav-top .navigation-inner .nav .sub-menu,
.scroll-down .icon:after,
.r-scroll-down .icon:after,
.testimonial .tit-icon .fa,
.skill-progress .skillbar .skillbar-inner,
.shop-cart .cart-toggle .quantitycart,
.commerce-cart .form-actions input:hover,
.checkout-buttons input:hover,
html .awe-color,
.onsale {
  background-color: #0099E6;
 }

.ft-social a:hover:before {
  border-right-color: #0099E6;
  border-top-color: #0099E6;
}
.ft-social a:hover:after {
  border-left-color: #0099E6;
  border-bottom-color: #0099E6;
}

::-moz-selection {
  background-color: #0099E6;
}
::selection {
  background-color: #0099E6;
}
#ascrail2000 > div,
#qLoverlay #qLbar {
  background-color: #0099E6 !important;
}
.typer span,
#qLoverlay #qLpercentage {
  color: #0099E6 !important;
}



/* END COLOR */
